@import "../../styles.scss";

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 7.5vh;
}

.container {
  &-pindrop {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-menu {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu {
  font-size: 50px;
}

.pin_drop {
  font-size: 38px;
}

#welcome-sign {
  margin-top: 25px;
  font-size: 16px;
}

.current-orders {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-direction: column;
}

h6 {
  text-align: left;
  margin-left: 10%;
}

.no-orders {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: column;
}

.active-orders {
  margin-bottom: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  justify-content: space-evenly;
}

h2 {
  text-align: left;
  margin-top: 50px;
  margin-left: 5%;
  font-family: Poppins;
}

.img-no-orders {
  width: 203px;
  height: 205px;
  flex-shrink: 0;
  align-self: center;
}

h3 {
  text-align: left;
  margin-left: 10%;
  font-family: Poppins;
}

/*
.expand_more {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#all-delivered-dropdown {
  color: black;
}
*/
