<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
  <p class="description">Descripción: {{ description }}</p>
  <p class="price">Total: {{ price }}</p>
  <p class="client">Cliente: {{ client }}</p>
  <p class="paymentType">Método de pago: {{ paymentType }}</p>
  <div class="container-status">
    <p class="orderStatus">Estad de la orden: {{ orderStatus }}</p>
    <button class="satus-button">Cambiar estado</button>
  </div>
  <p class="destination">Destino: {{ destination }}</p>
</div>
