@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 45%;
  }
}

.parent-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: left;
  margin-top: 40px;
}