<app-customer-searchbar></app-customer-searchbar>
<h3 class="link margin-left">Pedidos pendientes ></h3>
<h6 id="categories-title">Explorá nuestras categorías</h6>
<div class="parent-container-max-width">
  <div class="shop-types-container">
    <app-shop-type-icon *ngFor="let st of shopTypes"
      id={{st.id}}
      description={{st.description}}
      iconDescription={{st.iconDescription}}
      class="margin-top">
    </app-shop-type-icon>
  </div>
</div>
<h6 id="popular-shops-title">Los locales más populares</h6>
<div class="parent-container-max-width">
  <div class="shop-cards-container">
    <app-shop-card *ngFor="let shop of shops"
      title={{shop.name}}
      [subtitle]="shop.street + ' ' + shop.streetNumber"
      bottomText={{shop.stars}}
      [hasStar]=true
      [routerLink]="['/shop-customer', shop.id]"
      imagePath={{shop.logoPath}}>
    </app-shop-card>
  </div>
</div>
<footer class="footer"></footer>
