h6 {
  text-align: left;
  margin-left: 10%;
}

#categories-title {
  margin-top: 25px;
  font-size: 16px;
}

.margin-left {
  margin-left: 10%;
}

#popular-shops-title {
  margin-top: 40px;
  font-size: 16px;
}

.shop-types-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-cards-container {
  width: 80%;
}

.parent-container-max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-top {
  margin-top: 20px;
}

.footer {
  height: 40px;
}
