<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<nav class="navbar">
  <div class="container-menu">
    <span class="material-symbols-outlined" routerLink="/home-delivery-boy">arrow_back</span>
  </div>
</nav>

<h2>Todas tus entregas</h2>
  
<div class="all-orders">
  <div class="order-cards-container" *ngIf="deliveredOrders.length > 0">
    <app-shop-card *ngFor="let order of deliveredOrders" 
    [title]="order.lineItems[0].product.shop.name"
    [subtitle]="'Origen: ' + order.lineItems[0].product.shop.street + ' ' + order.lineItems[0].product.shop.streetNumber " 
    [bottomText]="'Destino: ' + order.client.street + ' ' + order.client.streetNumber" 
    [hasStar]=false
    [hasDropdown]=true 
    [hasDescription]=false
    imagePath={{order.lineItems[0].product.shop.logoPath}} 
    description={{getDescription(order)}}
    [client]="order.client.name + ' ' + order.client.surname" 
    [paymentType]=order.paymentType.description
    [price]="' $' + order.totalAmount + ' ; Tu comisión: $' + order.commissionForDelivery "
    orderStatus="Entregada" 
    orderId={{order.id}}
    dateTimeArrival={{order.dateTimeArrival}}>
    </app-shop-card>
  </div>
  <div *ngIf="deliveredOrders.length === 0" class="no-orders">
    <img class="img-no-orders" src="../assets/casual-life-3d-shopping-cart-with-boxes.png" />
    <h3>Aún no has entregado ningún pedido</h3>
  </div>
</div>
