@import '../../styles.scss';

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 7.5vh;
}

.container {
  &-pindrop {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &-menu {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu {
  font-size: 50px;
}

.pin_drop {
  font-size: 38px;
}

h2 {
  text-align: left;
  margin-left: 10%;
  font-family: Poppins;
}

.all-orders {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 80vh;
  margin-left: 10%;
  margin-right: 10%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 55%;
  margin-left: 10%;
}
