<div class="parent-container">
  <div class="container">
    <h1>Retiro realizado con éxito</h1>
    <h4>Has retirado ${{ amount }} de tu balance</h4>
    <div class="video-container">
      <video
        playsinline
        src="../../assets/green-check.mp4"
        width="400"
        autoplay
        loop
      ></video>
    </div>
    <app-primary-button
      (click)="goBackToMenu()"
      title="VOLVER AL MENÚ DE RETIROS"
      routerLink="/withdrawal-menu"
    ></app-primary-button>
  </div>
</div>
