<div class="container">
  <img src="../assets/full-logo.svg" class="logo">
  <div class="blank-container">
    <div class="text-logo">
      <h4>
        DeliverIt es la nueva aplicación para hacer pedidos por internet. 
        Más de 2000 locales del país ya gestionan sus pedidos por la app.
      </h4>
      <div>
        <app-primary-button title="INICIAR SESIÓN"></app-primary-button>
        <div class="registrate">
          <h6>No tienes una cuenta?</h6><h6 class="text-registrate">Registrate gratis</h6>
        </div>
      </div>
    </div>
  </div>
</div>
  