.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcontainer {
  width: 80%;
}

h4 {
  text-align: left;
  margin-top: 15px;
}

.input-subgroup {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  &-altura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.subgroup {
  &-altura {
    width: 35%;   
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &-piso {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.margin-button {
  margin-top: 60px;
}