<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class="container">
  <h1>Agregar Forma de pago</h1>
  <form class="input-button" [formGroup]="addPaymentTypeForm">
    <div class="input-group">
      <h6>Descripción</h6>
      <input type="text" formControlName="description">
      <div [ngClass]="{'error-message-show': getDescription().invalid && (submitted || getDescription().touched)}"
        class="error-message" style="align-self: flex-start;" id="errors">
        <span class="error-icon-red">&#9888;</span>
        Ingresa alguna descripción
      </div>
    </div>
    <div class="button-container">
      <app-primary-button class="button-style" title='CONFIRMAR' (click)="submit()">
      </app-primary-button>
    </div>
  </form>
</div>