.container {
  position: relative;
  top: 50px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-subgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number-prefix {
  display: inline;
  margin-right: 10px;
}

.group-phone-number {
  display: flex;
}

.phone-input {
  width: 100%;
}

.button-style {
  margin-top: auto;
}

.dropdown {
  margin-top: 10px;
}

.nombre {
  margin-top: 5px;
}