@media screen and (max-width: 576px) {
  .input-group {
    width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .input-button {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  .input-button {
    width: 45%;
  }
}


.container {
  position: relative;
  top: 50px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-subgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number-prefix {
  display: inline;
  margin-right: 10px;
}

.group-phone-number {
  display: flex;
}

.phone-input {
  width: 100%;
}

.button-style {
  margin-top: 25px;
}

.dropdown {
  margin-top: 10px;
}

.nombre {
  margin-top: 5px;
}