<div class="container">
  <div class="input-group">
    <h1>Completar datos personales</h1>
    <div class="input-subgroup">
      <h6>Nombre</h6>
      <input type="text" autofocus>
    </div>
    <div class="input-subgroup">
      <h6>Apellido</h6>
      <input type="text">
    </div>
    <div class="input-subgroup">
      <h6>Numero de teléfono</h6>
      <input type="text">
    </div>
    <label for="opcion">Como va a usar la aplicacion?</label>
    <select name="opcion" id="opcion">
      <option value="" default></option>
      <option value="cliente" class="option">Cliente</option>
      <option value="repartidor">Repartidor</option>
      <option value="local">Dueño de Local</option>
    </select>
    <app-primary-button class="button-style" title="SIGUIENTE"></app-primary-button>
  </div>
  
</div>
