<div class="parent-container">
  <div class="container">
    <h1 class="tile">Elige hasta {{ maxVariations }}</h1>

    <div class="flavour-container" *ngFor="let pv of productVariations">
      <app-flavours-customer-item
        [maxVariations]="maxVariations"
        [productVariation]="pv"
        [flavourId]="pv.id"
      ></app-flavours-customer-item>
    </div>

    <button class="button" (click)="submitCustFlavours()">
      <ion-icon name="checkmark" size="20"></ion-icon>Listo
    </button>
    <button class="secondary-button" routerLink="../">
      <ion-icon name="close"></ion-icon>Cancelar
    </button>
  </div>
</div>
