<div class="container">
  <h1>Crear una Cuenta</h1>
  <div class="input-button">
    <div class="input-group">
      <h6>Dirección de correo electrónico</h6>
      <input type="email" autofocus>
    </div>
    <div class="input-group">
      <h6>Contraseña</h6>
      <app-input-password></app-input-password>
    </div>
    <div class="input-group">
      <h6>Confirmar Contraseña</h6>
      <app-input-password></app-input-password>
    </div>
    <app-primary-button routerLink="/datos-personales" class="button-style" title="CREAR CUENTA"></app-primary-button>
  </div>
</div>
