<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<nav class="navbar">
  <div class="container-menu">
    <span class="material-symbols-rounded menu">menu</span>
  </div>
</nav>

<h1>Tu balance</h1>

<div class="container">
  <div class="balance-container">
    <h2>$24</h2>
    <app-primary-button title="Cobrar" routerLink="/withdraw-options"></app-primary-button>
  </div>
</div>

<div class="options-container">
  <div class="options">
    <div class="center">
      <div class="buttons_logos">
        <img id="plus_icon" src="assets\buttons_logos\plus_sign_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Ver Comisiones</p>
      </div>
    </div>
  </div>
</div>

<h1>Tus Extracciones</h1>

<div class="container-withdraw">
<h3 class="balance-container">Retiro 24-08-24: $24</h3>
<h3 class="balance-container">Retiro 24-08-24: $24</h3>
<h3 class="balance-container">Retiro 24-08-24: $24</h3>
<h3 class="balance-container">Retiro 24-08-24: $24</h3>
<h3 class="balance-container">Retiro 24-08-24: $24</h3>
</div>

<footer >
  <span class="material-symbols-rounded expand_more">expand_more </span>
</footer>