<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<nav class="navbar">
  <form (ngSubmit)="handleSubmit($event)">
    <div class="search">
      <span class="material-symbols-rounded search-icon">search</span>
      <input
        type="text"
        placeholder="Buscar local, producto ..."
        name="searchText"
        [(ngModel)]="searchInput"
        (keyup)="handleKeyUp($event)" 
      />
    </div>
  </form>
  <span class="material-symbols-rounded menu">menu</span>
</nav>
