<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<nav class="navbar">
  <div class="container-pindrop">
    <span class="material-symbols-rounded pin_drop"> pin_drop </span>
  </div>
  <div class="container-menu">
    <span class="material-symbols-rounded menu">menu</span>
  </div>
</nav>

<h2>Explorar Pedidos</h2>

<h6>Pedidos pendientes de repartidor</h6>

<div class="orders-available">
  <div class="order-cards-container">
    <app-shop-card (retrieveOrderId)="setDelivery($event)" *ngFor="let order of ordersWithoutDelivery" 
    [title]="order.lineItems[0].product.shop.name"
    [subtitle]="'Origen: ' + order.lineItems[0].product.shop.street + ' ' + order.lineItems[0].product.shop.streetNumber "
    [bottomText]="'Destino: ' + order.client.street + ' ' + order.client.streetNumber" 
    imagePath={{order.lineItems[0].product.shop.logoPath}}
    [hasStar]=false
    [hasDropdown]=true 
    [hasDescription]=false 
    description={{getDescription(order)}}
    [client]="order.client.name + ' ' + order.client.surname" 
    [paymentType]=order.paymentType.description
    price={{order.priceToPay}}
    orderStatus="Pendiente de repartidor"
    orderId = {{order.id}}>
    </app-shop-card>
  </div>
</div>