<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<nav class="navbar">
  <div class="container-menu">
    <span class="material-symbols-outlined" routerLink="/admin-panel">arrow_back</span>
  </div>
</nav>

<h1 class="descriptionLabel">Todas las comisiones</h1>
<div class="container">
  <div class="cards-container">
    <li *ngFor="let commission of commissions" (click)="onEditClick(commission)">
      Desde: {{commission.validSince}} - Porcentaje: {{(commission.percentage*100).toFixed(2)}}%  
    </li>
  </div>
</div>

