@import '../../../styles.scss';


.container {
  position: relative;
  top: 50px;
  text-align: left;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-button {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 50px;
  width: 70%;
  height: 33vh;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom-color: (#d1d1d1);
  border-left-color: (#f1f1f1);
  border-right-color: (#f1f1f1);
  border-style: none solid solid solid;
  border-width: 0 2.5px 3.5px 2.5px;
  border-radius: 7px;
  padding: 7% 15% 15% 15%;
  margin-bottom: 10%;
}

.button-style {
  margin-top: auto;
}

.flavor-border{
    width: 100%;
    height: 40px;
    border-color: (#4e4e4e);
    border-style: solid;
    border-width: 2.5px;
    border-radius: 7px;
    margin-bottom: 5%;
}

#item-container{
  display: flex;
}

#flavor-container{
    width: 80%;
    padding: 5px;
}

.item-card{
  height: 20px;
  padding: 5px;
}

#delete-button-container{
  width: 20%;
  text-align: center;
}

.delete-button{
  position: relative;
  transform: translateY(-50%);
  top: 37.5%;
}

#input-flavor-name{
    margin-bottom: 15%;
}
