@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");

$primary-red: #c00a0a;
$secondary-red: #f3b5b5;
$yellow-star: #ffcc00;

* {
  user-select: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #000;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.136px;
  margin: 0;
}

h2 {
  font-family: Poppins;
  font-size: 28px;
}

h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

h4 {
  opacity: 0.65;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.064px;
  margin: 0;
}

h6,
select,
label {
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.06px;
  margin: 0;
  width: fit-content;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 13px;
  outline: none;
  transition: 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  transition: 0.2s;
}

select {
  border-radius: 8px;
  height: 30px;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 14px;
  transition: 0.2s;
}

select:focus {
  outline: none;
  transition: 0.2s;
  border-color: rgba(0, 0, 0, 0.8);
}

p {
  margin: 0;
}

button {
  background-color: $primary-red;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.secondary-button {
  margin: 10px 0px;
  background-color: white;
  color: $primary-red;
  border: 2px solid $primary-red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

button:hover {
  transition: 0.2s;
  opacity: 0.9;
}

/* Styles for the shop-card component,
they are in the global scss because it's used in different components */

.star-image {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Title, subtitle and bottom text of the shop-card */

.card-title {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-subtitle,
.card-bottomText {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  overflow: hidden;
}

/* End of shop-card styles*/

.error-message {
  margin-top: 5px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  color: #ff0000;
  opacity: 0;
  transition: opacity 0.35s ease;
  display: flex;
  align-items: center;
  gap: 3px;

  &-show {
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

.error-icon-red {
  font-size: 14px;
  font-weight: bold;
}

// Make Cursor pointer
.link {
  cursor: pointer;
  margin-bottom: 30px;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.extra-shop-info-container {
  width: 100%;
  margin-left: 5%;
  margin-top: 10px;
  align-self: flex-start;
}

.extra-shop-info-container > p {
  margin-top: 5px;
}
