<div class="top-limit"></div>

<h1>Monto a cobrar</h1>

<div class="container">
  <div class="balance-container">
    <h2>$24</h2>
  </div> 
</div>

<hr id="division">

<h4>DeliverIt® ofrece dos alternativas para acceder a tu saldo. Podes elegir cobrar todo el monto de tu balance, o simplemente una parte del mismo. Seleccioná la opción que más te convenga.</h4>

<hr id="division">


<div class="container-buttons">
  <div class="input-buttons" >
    <app-primary-button  title="Retirar todo"></app-primary-button>
    <button class="secondary-button">Seleccionar monto</button>
  </div>
</div>