<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<nav class="navbar">
  <div class = "container-pindrop">
    <span class="material-symbols-rounded pin_drop"> pin_drop </span>
  </div> 
  <div class="container-menu">
    <span class="material-symbols-rounded menu">menu</span>
  </div>
</nav>
<h6 id="welcome-sign" (click)="alterView()">Bienvenido: Francisco</h6>  <!--el evento es para testear, va a ser removido-->
<h2>Tus Pedidos en Curso</h2>
<div class="current-orders"> <!--Acá iría un *ngFor con cada pedido activo-->
  <div *ngIf="pedidosEnCurso === false" class="no-orders">
    <img class="img-no-orders" src="../assets/delivery boy on scooter.png">
    <h3>Vaya... No tienes pedidos en curso</h3>
  </div>
  <div *ngIf="pedidosEnCurso === true" class="active-orders">
    <app-shop-card title="Lemmy's Pizza" subtitle="Origen: Urquiza 1500" bottomText=" Destino: Laprida 736" [hasStar]=false [hasDropdown]=true></app-shop-card>
  </div>
  <a id="explore-more-deliveries" routerLink="/explore-new-deliveries"><app-primary-button title="Explorar más pedidos"></app-primary-button></a>
</div>
<hr id="division">
<h6 id="welcome-sign">Tus últimas entregas</h6>
<div class="last-orders-container">
  <div class="shop-cards-container">
    <app-shop-card title="Lemmy's Pizza" subtitle="Urquiza 1500" bottomText="1 x Cerveza Andes, 2 x Pizza New York" [hasStar]=false></app-shop-card>
    <app-shop-card title="Mostaza" subtitle="Av. Pellegrini 1700" bottomText="1 x Cajita Mostaza, 2 x Mega Dibu" [hasStar]=false></app-shop-card>
  </div>
</div>
<footer>
  <a id="all-delivered-dropdown" routerLink="/all-delivered-orders"><span class="material-symbols-rounded expand_more"> expand_more </span></a>
</footer>