@import "../../styles.scss";

.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: right;
  height: 7.5vh;
}

.container-menu {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#welcome-sign {
  margin-top: 25px;
  font-size: 16px;
}

.current-orders {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: column;
}

h6 {
  text-align: left;
  margin-left: 10%;
}

.no-orders {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: column;
}

.active-orders {
  margin-bottom: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: center;
  justify-content: space-evenly;
}

h2 {
  text-align: left;
  margin-left: 10%;
  font-family: Poppins;
}

.img-no-orders {
  width: 203px;
  height: 205px;
  flex-shrink: 0;
  align-self: center;
}

h3 {
  text-align: left;
  margin-left: 10%;
  font-family: Poppins;
}

#division {
  border: 0;
  border-top: 1px solid black;
  width: 85%;
}

#explore-more-deliveries {
  width: 85%;
  align-self: center;
  display: inline-block;
}

.shop-cards-container {
  width: 85%;
  overflow: hidden;
}

.last-orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand_more {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#all-delivered-dropdown {
  color: black;
}

// Sidenav

mat-sidenav {
  background-color: rgb(255, 255, 255);
  width: 300px;
}

.menu-title-container {
  display: flex;
  flex-direction: column;
  height: 40px;
  gap: 15px;
  margin: 20px;
  margin-bottom: 20px;
}

mat-sidenav-container {
  height: 100vh;
}

mat-divider {
  background-color: rgba($color: #000000, $alpha: 0.1);
  margin: 20px;
}

.menu-option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 0;
}

.menu-options-container {
  margin-left: 20px;
}

.menu-icon {
  font-size: 18px;
  font-weight: bold;
}

.address {
  font-weight: 300;
}

.margin-0 {
  margin: 0;
}

.menu-open-button {
  font-size: 40px;
  margin-right: 10%;
}

.close-menu-button {
  font-size: 40px;
}

.close-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px;
}
