<div class="options-container">
  <div class="options" (click)="onAddPaymentType()">
    <div class="center">
      <div class="buttons_logos">
        <img id="plus_icon" src="assets\buttons_logos\plus_sign_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Agregar Forma de pago</p>
      </div>
    </div>
  </div>
  <div class="options" (click)="onEditPaymentType()">
    <div class="center">
      <div class="buttons_logos">
        <img id="pencil_icon" src="assets\buttons_logos\pencil_edit_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Editar Forma de pago</p>
      </div>
    </div>
  </div>
</div>

<div class="options-container">
  <div class="options" (click)="onAddProductCategory()">
    <div class="center">
      <div class="buttons_logos">
        <img id="plus_icon" src="assets\buttons_logos\plus_sign_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Agregar categoría de producto</p>
      </div>
    </div>
  </div>
  <div class="options" (click)="onEditProductCategory()">
    <div class="center">
      <div class="buttons_logos">
        <img id="pencil_icon" src="assets\buttons_logos\pencil_edit_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Editar categoría de producto</p>
      </div>
    </div>
  </div>
</div>

<div class="options-container">
  <div class="options" (click)="onAddCommissionPercentage()">
    <div class="center">
      <div class="buttons_logos">
        <img id="plus_icon" src="assets\buttons_logos\plus_sign_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Agregar porcentaje de comisión</p>
      </div>
    </div>
  </div>
  <div class="options" (click)="onEditCommissionPercentage()">
    <div class="center">
      <div class="buttons_logos">
        <img id="pencil_icon" src="assets\buttons_logos\pencil_edit_icon.png" alt="plus_sign_icon">
      </div>
      <div class="button_text">
        <p id="add_prod_text">Editar porcentaje de comisión</p>
      </div>
    </div>
  </div>
</div>