<div class="container">
    <h1>Completar fotos<br>del local</h1>
    <div class="input-button">
      <div class="input-group">
        <h6>Logo</h6>
        <input type="file" accept="image/*">
      </div>
      <div class="input-group">
        <h6 id="banner-text">Banner <span>(opcional)</span></h6>
        <input type="file" accept="image/*">
      </div>
      <a routerLink="/signup_shop_data2"><app-primary-button class="button-style" title="CONFIRMAR"></app-primary-button></a>
    </div>
  </div>