@import '../../../styles.scss';


.container {
  position: relative;
  top: 50px;
  text-align: left;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-button {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 70px;
  width: 70%;
  height: 33vh;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-style {
  margin-top: auto;
}

#banner-text{
    display: inline;
    padding: 0;
}

span{
    color: rgb(138, 138, 138);
    font-size: 12px;
    display: inline;
}

input{
    height: 50px;
    width: 100%;
    color: rgba(0, 0, 0, 1);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.06px;
}

select{
    width: 90%;
    height: 40px;
    border-color: (#d1d1d1);
    border-style: solid;
    border-width: 2.5px;
    border-radius: 3.5px;
    margin-bottom: 5%;
}

#errors{
  margin-top: -10px;
  margin-bottom: 25px;
}
