<div class="container">
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" class="input-button">
    <div class="input-group">
      <label for="email">Dirección de correo electrónico</label>
      <input type="email" formControlName="email" autofocus>
    </div>
    <div class="input-group">
      <h6>Contraseña</h6>
      <app-input-password [control]=""></app-input-password>      
    </div>    
    <app-primary-button 
    (buttonClicked)="submitForm()"
    routerLink="/home-customer" 
    class="button-style" 
    title="INICIAR SESIÓN"></app-primary-button>
  </form>
</div>