@import '../../styles.scss';


.container {
  position: relative;
  top: 50px;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-button {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 70px;
  width: 70%;
  height: 33vh;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-style {
  margin-top: auto;
}
