@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import '../../styles.scss';


button {
  background-color: $primary-red;
  border-radius: 10px;
  border: none;
  transition: .2s;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 50px;
  width: 100%;
}

button:hover {
  transition: .2s;
  opacity: .9;
}